{% extends "base.html" %}

{% block title %}Weather for you{% endblock %}

{% block head %}
<style>
    .searchRes {
        cursor: pointer;
        box-shadow: none;
        border: 1px solid white;
        margin-bottom: 5px;
        transition: all 0.2s ease;
    }
    .searchRes:hover {
        box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
        z-index: 1;
    }
    .container {
        padding-top: 20px;
    }
</style>
<script src="//cdn.jsdelivr.net/jquery.shadow-animation/1/mainfile"></script>
{% endblock %}

{% block content %}
<h1 class="title">
    <img src="{{ url_for('static', filename='favicon.png') }}" style="width: 30px;">
    Hey dude
</h1>
<p class="subtitle">
    Do you want to know weather in the <strong>world</strong>?
</p>

<div class="columns">
    <div class="column is-two-fifths">
        <div class="columns is-multiline">
            <div class="column is-full">
                <form action="" id="cityForm">
                    <div class="field">
                        <label class="label" for="cityName">City:</label>
                        <div class="control">
                            <input id="cityName" class="input" type="text" placeholder="Moscow" required>
                        </div>
                        <p class="help">Choose some city from the list</p>
                    </div>
                </form>
            </div>
            <div class="column">
                <div id="searchResult"></div>
            </div>
        </div>

    </div>
    <div class="column" id="weatherCard" style="margin-left: 30vh;">
        <!-- Loop this part for add weather box
        <div class="columns is-multiline">
            <div class="column is-full">
                <div class="columns is-full" style="width: 450px;">
                    <div class="column" style="text-align: center;">
                        <img src="http://openweathermap.org/img/wn/09d@2x.png" style="width: 133px; top: -25px; position: relative;"/>
                        <p style="top: -45px; position: relative;">Clear sky</p>
                    </div>
                    <div class="column" style="text-align: center; font-size: 20px;">
                        <p style="font-size: 30px">14.55 &#8451;</p>
                        <p class="help">Feels like 12.21 &#8451;</p>
                        <p style="margin-top: 20px; font-size: 15px;">
                            <img src="{{ url_for('static', filename='wind.png') }}" style="width: 25px">
                            2 km/h 107&#176;
                        </p>
                    </div>
                    <div class="column">
                        <p style="color: orange;">17</p>
                        <p style="color: dodgerblue">10</p>
                    </div>
                </div>
            </div>
            <div class="column if-full">
                <p style="font-size: 30px; position: relative; top: -55px; left: 30px;">Odessa UA</p>
            </div>
        </div>
         End loop -->
    </div>
</div>


<!-- Scripts -->
<script type=text/javascript src="{{ url_for('static', filename='js.js') }}">
</script>

{% endblock %}
