{% extends "base.html" %}

{% block title %}Weather for you{% endblock %}

{% block head %}
<style>
    .searchRes {
        cursor: pointer;
        box-shadow: none;
        border: 1px solid white;
        margin-bottom: 5px;
        transition: all 0.2s ease;
    }
    .searchRes:hover {
        box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
        z-index: 1;
    }
</style>
<script src="//cdn.jsdelivr.net/jquery.shadow-animation/1/mainfile"></script>
{% endblock %}

{% block content %}
<h1 class="title">
    <img src="{{ url_for('static', filename='favicon.png') }}" style="width: 30px;">
    Hey dude
</h1>
<p class="subtitle">
    Do you want to know weather in the <strong>world</strong>?
</p>

<div class="columns">
    <div class="column">
        <div class="columns is-multiline">
            <div class="column is-full">
                <form action="" id="cityForm">
                    <div class="field">
                        <label class="label">City:</label>
                        <div class="control">
                            <input id="cityName" class="input" type="text" placeholder="Moscow" required>
                        </div>
                        <p class="help">Choose some city from the list</p>
                    </div>
                </form>
            </div>
            <div class="column">
                <div id="searchResult"></div>
            </div>
        </div>

    </div>
    <div class="column">
        <div class="level">
            <div class="left">

            </div>
        </div>
    </div>
</div>


<!-- Scripts -->
<script type=text/javascript src="{{ url_for('static', filename='js.js') }}">
</script>

{% endblock %}
