

.searchRes {
    cursor: pointer;
    box-shadow: none;
    border: 1px solid white;
    margin-bottom: 5px;
    transition: all 0.2s ease;
}
.searchRes:hover {
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    z-index: 1;
}
.container {
    padding-top: 20px;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) { }
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) { }
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) { }
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) { }
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) { }
